{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6
    },
    "env": {
        "browser": true,
        "jest": true,
        "es6": true
    },
    "rules": {
        "comma-dangle": [
            "error", 
            "never"
        ],
        "no-unused-vars": ["error", {
            "vars": "local",
            "args": "none"
        }],
        "linebreak-style": ["error", "windows"],
        "arrow-parens":"off",
        "indent": [2, 4, { "SwitchCase": 1 }],
        "arrow-body-style": 0,
        "object-curly-newline": "off",
        "no-underscore-dangle": "off",
        "global-require": "warn",
        "prefer-destructuring": "warn",
        "no-useless-escape": "warn",
        "react/jsx-indent": [2, 4],
        "react/jsx-filename-extension": 0,
        "react/jsx-one-expression-per-line": 0,
        "react/jsx-indent-props": [2, 4],
        "react/destructuring-assignment": 0,
        "react/prop-types": 0,
        "react/jsx-boolean-value": 0,
        "react/self-closing-comp": ["error", { "component": true, "html": false }],
        "import/no-named-as-default": 0,
        "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
    }
}